.content {

	margin-left: 200px;
	margin-right: 200px;


}

.book_new {
	height: 519px;
	height: 499px;
	overflow: hidden;
	position: relative;

}

.title {
	position: absolute;
	top: 0; //与上边框属性
	left: 0;
	overflow: hidden; //超出限定高度的内容被隐藏
	width: 910px;
	height: 44px;
	border-bottom: 2px solid #000;
	color: #323232;
	font: bold 20px/44px "Microsoft YaHei"; //字号20行高44
}

.tab_box {
	position: absolute;
	top: 56px;
	left: 0;
	width: 910px;
	height: 443px;
}

.header {
	height: 44px;
	width: 655px;
	border-right: 1px solid #e6e6e6;
	position: absolute;
	top: -56px;
	right: 0;
}

.tab_aa{
	
	float: right;
	margin-top: 0;
	font-weight:normal;
}

.tag0 {
	float: left;
    width: 114px;
    height: 42px;
    padding-top: 1px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 1px;
    text-align: center;
    background-color: #f5f5f5;
    font: 14px/42px "Microsoft YaHei";
    color: #646464;
    cursor: default;
    overflow: hidden;
}



.tag1 {
float: left;
    width: 114px;
    height: 42px;
    padding-top: 1px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0 0 1px;
    text-align: center;
    background-color: #f5f5f5;
    font: 14px/42px "Microsoft YaHei";
    color: #646464;
    cursor: default;
    overflow: hidden;
}

.tag2 {
	
	float: left;
	    width: 114px;
	    height: 42px;
	    padding-top: 1px;
	    border: 1px solid #e6e6e6;
	    border-width: 1px 0 0 1px;
	    text-align: center;
	    background-color: #f5f5f5;
	    font: 14px/42px "Microsoft YaHei";
	    color: #646464;
	    cursor: default;
	    overflow: hidden;
}

.tag3 {
	float: left;
	    width: 114px;
	    height: 42px;
	    padding-top: 1px;
	    border: 1px solid #e6e6e6;
	    border-width: 1px 0 0 1px;
	    text-align: center;
	    background-color: #f5f5f5;
	    font: 14px/42px "Microsoft YaHei";
	    color: #646464;
	    cursor: default;
	    overflow: hidden;
	
}

.tag4 {
	    float: left;
	    width: 114px;
	    height: 42px;
	    padding-top: 1px;
	    border: 1px solid #e6e6e6;
	    border-width: 1px 0 0 1px;
	    text-align: center;
	    background-color: #f5f5f5;
	    font: 14px/42px "Microsoft YaHei";
	    color: #646464;
	    cursor: default;
	    overflow: hidden;
	
}
